<div>
    <h1>Creador de videojuegos</h1>
    <form id="ProductoForm">
        <label>Título</label>
        <input name="title">
        <label>Descripción</label>
        <textarea name="description"></textarea>
        <label>Precio</label>
        <input name="price">
        <label>Código</label>
        <input name="code">
        <label>Stock</label>
        <input name="stock">
        <label>Imagen</label>
        <input type="file" name="image">
        <input type="submit">
    </form>
</div>
<script src="../Products.js"></script>
