<h1>Regístrate</h1>
<form id="registerForm">
    <label>Nombre</label>
    <input name="first_name">
    <label>Apellido</label>
    <input name="last_name">
    <label>Email</label>
    <input name="email">
    <label>Contraseña</label>
    <input name="password">
    <label>Imagen de perfil</label>
    <input type="file" name="avatar">
    <input type="submit">
</form>

<p>¿Ya estás registrado? <a href="/login">Logueate :)</a></p>

<script src="../register.js"></script>